<a href="https://colab.research.google.com/github/Bhavana30103/google-colab/blob/main/Purchase_Prediction_%26_Effect_of_Micro_Numerosity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Customer Purchase Prediction & Effect of Micro-Numerosity

In [1]:
import pandas as pd

In [2]:
purchase = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Customer%20Purchase.csv')

In [3]:
purchase.head()

   Customer ID  Age  Gender Education   Review Purchased
0         1021   30  Female    School  Average        No
1         1022   68  Female        UG     Poor        No
2         1023   70  Female        PG     Good        No
3         1024   72  Female        PG     Good        No
4         1025   16  Female        UG  Average        No

In [4]:
purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  50 non-null     int64
 1   Age          50 non-null     int64
 2   Gender       50 non-null     object
 3   Education    50 non-null     object
 4   Review       50 non-null     object
 5   Purchased    50 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB

In [5]:
purchase.describe()

       Customer ID        Age
count     50.00000  50.000000
mean    1045.50000  54.160000
std       14.57738  25.658161
min     1021.00000  15.000000
25%     1033.25000  30.250000
50%     1045.50000  57.000000
75%     1057.75000  74.000000
max     1070.00000  98.000000

In [6]:
purchase.columnsm

Index(['Customer ID', 'Age', 'Gender', 'Education', 'Review', 'Purchased'], dtype='object')

In [7]:
y = purchase['Purchased']

In [8]:
X = purchase.drop(['Purchased','Customer ID'],axis=1)

In [9]:
X.replace({'Review':{'Poor':0,'Average':1,'Good':2}},inplace=True)
X.replace({'Education':{'School':0,'UG':1,'PG':2}},inplace=True)
X.replace({'Gender':{'Male':0,'Female':1}},inplace=True)

In [10]:
X.head()

   Age  Gender  Education  Review
0   30       1          0       1
1   68       1          1       0
2   70       1          2       2
3   72       1          2       2
4   16       1          1       1

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=2529)

In [13]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((35, 4), (15, 4), (35,), (15,))

In [14]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

In [16]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [17]:
y_pred = model.predict(X_test)

In [18]:
y_pred

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No'], dtype=object)

In [20]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [22]:
confusion_matrix(y_test,y_pred)

array([[7, 0],
       [4, 4]])

In [24]:
accuracy_score(y_test,y_pred)

0.7333333333333333

In [25]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          No       0.64      1.00      0.78         7
         Yes       1.00      0.50      0.67         8

    accuracy                           0.73        15
   macro avg       0.82      0.75      0.72        15
weighted avg       0.83      0.73      0.72        15